{% extends 'base.html' %}

{%block title%} User Logs {%endblock%}

{%block content%}

<h1>Thsi is log</h1>


<table>
    <thead>
        <th>User ID</th>
        <th>IP Address</th>
        <th style="width: 120px;">Item</th>
        <th>Action</th>
        <th>Quantity</th>
        <th>Timestamp</th>
    </thead>
    <tbody>
        {% for row in all_log %}

            <tr>
                <td>{{row.user.username}}</td>
                <td>{{row.ip_address}}</td>
                <td>{{row.item.name}}</td>
                <td>{{row.action}}</td>
                <td>{{row.quantity}}</td>
                <td>{{row.timestamp}}</td>
            </tr>

        {% endfor %}
    </tbody>
</table>


{%endblock%}